<h1>Welcome on ToDo Manager</h1>
<h3>Vos tâches en plus simple</h3>
<p>Pour commencer, <a href="users/sign_in" class="principal-link">créez votre compte</a> ou <a href="/users/sign_up" class="principal-link">connectez-vous</a></p>
<p>Déjà connecté ? <a href="/tasks" class="principal-link">Accéder à mes Tâches</a></p>
